<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.dao.mapper.TagMapper">
<!--List<Tag> findTagsByTaskId(Long taskId);-->
    <select id="findTagsByTaskId" parameterType="long" resultType="com.chen.dao.pojo.Tag">
        select id,avatar,tag_name as tagName from mh_tag where id
in (select tag_id from mh_task_tag where task_id=#{taskId});
    </select>
<!--        List<Long> findHotsTagIds(int limit);-->
    <select id="findHotsTagIds" parameterType="int" resultType="long">
        select tag_id from mh_task_tag group by tag_id order by count(*)  desc limit #{limit};
    </select>
<!--       List<Tag> findTagsByTagIds(List<Long> tagIds);-->
    <select id="findTagsByTagIds" parameterType="List" resultType="com.chen.dao.pojo.Tag">
        select id,tag_name as tagName from mh_tag where id in
            <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
                #{tagId}
            </foreach> ;
    </select>
</mapper>