<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.dao.mapper.TaskMapper">

<!--      List<Archives> listArchives();-->
    <select id="listArchives" resultType="com.chen.dao.dos.Archives">
        select year(from_unixtime(create_date/1000))as year ,month(from_unixtime(create_date/1000)) as month
          ,count(*) as count from mh_task  group by year,month
    </select>

<!--    表的属性和字段做映射-->

    <resultMap id="taskMap" type="com.chen.dao.pojo.Task">
        <id column="id" property="id" />
        <result column="author_id" property="authorId"/>
        <result column="comment_counts" property="commentCounts"/>
        <result column="create_date" property="createDate"/>
        <result column="summary" property="summary"/>
        <result column="title" property="title"/>
        <result column="view_counts" property="viewCounts"/>
        <result column="weight" property="weight"/>
        <result column="body_id" property="bodyId"/>
        <result column="category_id" property="categoryId"/>
        <result column="accept_user_id" property="acceptUserId"/>
        <result column="publish_school_id" property="publishSchoolId"/>
        <result column="publish_school_name" property="publishSchoolName"/>
        <result column="images" property="images"/>
        <result column="status" property="status"/>
        <result column="money" property="money"/>
    </resultMap>
<!--    设置查询sql语句  taskMap是映射的上面的id->
<!-    IPage<Task> listTask(Page<Task> page, Long categoryId, Long tagId, String year, String month);-->
    <select id="listTask" resultMap="taskMap">
        select  * from mh_task
        <where>
            1=1
            <if test="categoryId != null">
                and category_id=#{categoryId}
            </if>
            <if test="authorId!=null">
                and author_id=#{authorId}
            </if>
            <if test="acceptUserId!=null">
                and  accept_user_id=#{acceptUserId}
            </if>
            <if test="year !=null and year.length>0 and month != null and month.length>0">
                and ( FROM_UNIXTIME(create_date/1000,'%Y') = #{year} and FROM_UNIXTIME(create_date/1000,'%m') = #{month} )
            </if>
            <if test="tagId!=null">
                and id in (select task_id from mh_task_tag where tag_id=#{tagId})
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
        </where>
        order by create_date desc
    </select>
<!--    List<Task> selectTaskByKeys(String words,Long schoolid)-->
    <select id="selectTaskByKeys" resultMap="taskMap">
        select * from mh_task
        <where>
            <if test="words!=null and words!=''">
                and title like concat('%',#{words},'%')
            </if>
            <if test="schoolid!=null and schoolid!='-1'">
                and publish_school_id=#{schoolid}
            </if>
            <if test="publishSchoolName!=null and publishSchoolName!=''">
                and publish_school_name like concat('%',#{publishSchoolName},'%')
            </if>
        </where>
        order by create_date desc
    </select>
<!--     IPage<Task> selectTaskByKeysNoState(Page<Task> page,String words,Long schoolid);-->
    <select id="selectTaskByKeysNoState" resultMap="taskMap">
        select * from mh_task
        <where>
            status=0
            <if test="words!=null and words!=''">
                and title like concat('%',#{words},'%')
            </if>
            <if test="schoolid!=null and schoolid!='-1'">
                and publish_school_id=#{schoolid}
            </if>
        </where>
        order by create_date desc
    </select>

</mapper>